#!/bin/sh

KERNEL!="mmcblk[0-1]p[0-9]", GOTO="exit"
ACTION=="add", PROGRAM!="/sbin/blkid %N", GOTO="exit"

# import some useful filesystem info as variables
IMPORT{program}="/sbin/blkid -o udev -p %N"

# get the label if present, otherwise assign one based on device/partition
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{dir_name}="sdcard-%k"

ENV{ID_FS_LABEL}=="BOOT", GOTO="exit"
ENV{ID_FS_LABEL}=="ROOTF", GOTO="exit"

# create the dir and symlink it to /mnt
ACTION=="add", RUN+="/bin/mkdir -p '/opt/knobloch/ExternalSD/%E{dir_name}'"

# vfat specific mount options
ACTION=="add", ENV{ID_FS_TYPE}=="vfat", RUN+="/bin/mount -t vfat -o user,rw,exec,utf8,uid=1000,gid=1001,fmask=0022,dmask=0022 /dev/%k '/opt/knobloch/ExternalSD/%E{dir_name}'"

# exfat specific mount options
ACTION=="add", ENV{ID_FS_TYPE}=="exfat", RUN+="/bin/mount -t exfat -o user,rw,exec,utf8,uid=1000,gid=1001,fmask=0022,dmask=0022 /dev/%k '/opt/knobloch/ExternalSD/%E{dir_name}'"

ACTION=="add", ENV{ID_FS_TYPE}=="ntfs", RUN+="/bin/mount -t ntfs-3g -o user,rw,exec,utf8 /dev/%k '/opt/knobloch/ExternalSD/%E{dir_name}'"

# clean up after device removal #
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l '/opt/knobloch/ExternalSD/%E{dir_name}'", RUN+="/bin/rmdir '/opt/knobloch/ExternalSD/%E{dir_name}'"

# exit
LABEL="exit"
