*.o
*.su
*.s
*.mk
*.bin
*.img
*.map
*.lds
*.srec
.dep*
board-support/u-boot-2013.10-ti2013.12.01/.boards.depend
#----
board-support/u-boot-2013.10-ti2013.12.01/MLO
board-support/u-boot-2013.10-ti2013.12.01/MLO.byteswap
board-support/u-boot-2013.10-ti2013.12.01/arch/arm/include/asm/arch
board-support/u-boot-2013.10-ti2013.12.01/arch/arm/include/asm/proc
board-support/u-boot-2013.10-ti2013.12.01/examples/standalone/hello_world
board-support/u-boot-2013.10-ti2013.12.01/include/asm
board-support/u-boot-2013.10-ti2013.12.01/include/autoconf.mk.dep
board-support/u-boot-2013.10-ti2013.12.01/include/config.h
board-support/u-boot-2013.10-ti2013.12.01/include/generated/
board-support/u-boot-2013.10-ti2013.12.01/spl/u-boot-spl
board-support/u-boot-2013.10-ti2013.12.01/tools/env/fw_printenv
board-support/u-boot-2013.10-ti2013.12.01/tools/envcrc
board-support/u-boot-2013.10-ti2013.12.01/tools/gen_eth_addr
board-support/u-boot-2013.10-ti2013.12.01/tools/img2srec
board-support/u-boot-2013.10-ti2013.12.01/tools/kernel-doc/docproc
board-support/u-boot-2013.10-ti2013.12.01/tools/mkenvimage
board-support/u-boot-2013.10-ti2013.12.01/tools/mkimage
board-support/u-boot-2013.10-ti2013.12.01/tools/proftool
board-support/u-boot-2013.10-ti2013.12.01/u-boot

